<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Title of my website -->
    <title>Ultra Vision</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/UltraVision.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-white border rounded shadow">
        <div class="container">
            <a class="navbar-brand" href="#">Ultra Vision</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation Bar -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CD Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DVD Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TV Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <h1 class="mt-5">Welcome to Ultra Vision</h1>
                <p class="lead"><b>Select your favourite titles from our catalog!</p></b>
                <br><br><br>
            </div>
            <div id="results" class="col-lg-8 order-2 mb-5"></div>
            <div class="col-lg-4 order-1">
                <!-- Add New Item -->
                <form enctype="application/json" action="/post/json" method="post">
                    <div class="form-group">
                        <select class="form-control" name="sec_n">
                            <option value="0">CD Music</option>
                            <option value="1">DVD Movies</option>
                            <option value="2">TV Series</option>
                        </select>
                        <input class="form-control mt-3" type="text" name="item" placeholder="Item">
                        <input class="form-control mt-3" type="number" step=".01" name="price" placeholder="Price">
                        <button type="submit" class="btn btn-primary btn-block mt-3">Add item</button>
                    </div>
                </form>
                <!-- Delete Selected Item -->
                <button id="delete" class="btn btn-danger btn-block mt-3">Delete item</button>
                <p class="text-muted text-center">To delete an item, you have to select the required row first</p>
                <!-- Calculate Total -->
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt" disabled>
                        <div class="input-group-append">
                        </div>
                        <input class="btn btn-block btn-success mt-2" type="button" name="btnCalcBill"
                            value="Calculate Bill" id="calcBill">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer of the Website -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Ultra Vision</a></h3>
                    <p class="links"><a href="#">About us</a><strong> ·
                        </strong><a href="#">Contact us</a><strong>&nbsp;</strong></p>
                    <p class="company-name">© 2021</p>
                </div>
                <!-- Contact Information of Ultra Vision-->
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div>
                        <p><span class="new-line-span">13 New Ireland Road, </span>Dublin, Ireland</p>
                        <p class="footer-center-info email text-left"> +353 83 869 0657</p>
                        <p> <a id="comments" href="#">ultravision@gmail.com</a></p>
                    </div>
                </div>
                <!-- My Information -->
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h4>Website crated by: </h4>
                    <p>Name: Cesar Alejandro Avila Calderon</p>
                    <p>Student Number: 2018451</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/UltraVision.js"></script>
    <script>
        window.addEventListener("load", function () {
            document.forms[1].txtBillAmt.value = calculateBill('menuTable');
            document.querySelector("#calcBill").addEventListener("click", function () {
                document.forms[1].txtBillAmt.value = calculateBill('menuTable');
            });
        });
    </script>
</body>

</html>