html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #bad2ff;
}
table, th, td {
    margin-top: 50px;
    border-collapse: collapse;
    border: 5px solid black;
    text-align: center;
}
 table {
    border-collapse: collapse;
    width:100%;
}
 td, th {
    border: 3px solid #ADD8E6;
    padding: 0.5rem;
    text-align: left;
}
 th {
    font-weight: bold;
}
.selected {
    background-color: #6495ED;
    color: #FFF;
}